@model SimpleInformationalApp.Models.Game

@{
    ViewBag.Title = "GameDetails";
}
<h3>Details for game:</h3>
<h2> @Model.Title </h2>
<div>
    <h3>Description</h3>
    <p>@Model.Description</p>
</div>



