@{
    ViewBag.Title = "Home Page";
}

<div>
    <form action="/Home/SumNumbers" method="post">
        <label for="firstNumberId">
            First Number:
            <input type="number" id="firstNumberId" name="firstNumber" />
        </label>
        <label for="secondNumberId">
            Second Number:
            <input type="number" id="secondNumberId" name="secondNumber" />
        </label>
        <button type="submit">Sum!</button>
    </form>
    <label> Sum Result: @ViewBag.SumResult</label>
</div>