Mines.Tests/bin/Debug/Mines.exe
Mines.Tests/bin/Debug/Mines.pdb
Mines.Tests/bin/Debug/Mines.Tests.dll
Mines.Tests/bin/Debug/Mines.Tests.pdb
Mines.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Mines.Tests/obj/Debug/Mines.Tests.csproj.FileListAbsolute.txt
Mines.Tests/obj/Debug/Mines.Tests.csprojResolveAssemblyReference.cache
Mines.Tests/obj/Debug/Mines.Tests.dll
Mines.Tests/obj/Debug/Mines.Tests.pdb
Mines.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Mines.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Mines.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Mines/bin/Debug/Mines.exe
Mines/bin/Debug/Mines.pdb
Mines/bin/Debug/Mines.vshost.exe
Mines/bin/Debug/Mines.vshost.exe.manifest
Mines/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Mines/obj/x86/Debug/Mines.csproj.FileListAbsolute.txt
Mines/obj/x86/Debug/Mines.csprojResolveAssemblyReference.cache
Mines/obj/x86/Debug/Mines.exe
Mines/obj/x86/Debug/Mines.pdb
TestResults/Mini.TE.Tests.mdf
TestResults/Mini.TE.Tests_log.ldf
