<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceDayOfWeek" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:25018/ServiceDemo.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceDayOfWeek"
                contract="IServiceDayOfWeek" name="BasicHttpBinding_IServiceDayOfWeek" />
        </client>
    </system.serviceModel>
</configuration>