@{
    ViewBag.Title = "Home Page";
}

<div class="hero-unit">
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Actors", "Index", "Actors")</li>
        <li>@Html.ActionLink("Movies", "Index", "Movies")</li>
    </ul>
</div>
